
<app-nav-menu></app-nav-menu>
<!--<div class="container mt-5">

  <div class="card p-4">

    <h2>
      Farmer Dashboard
    </h2>

    <p>
      Welcome to Farmer Platform
    </p>

  </div>

</div>-->
<div class="container mt-4">

  <div class="row">

    <div class="col-md-4 mb-3">

      <div class="card p-4">

        <h4>
          Farmers
        </h4>

        <p>
          Manage farmer records
        </p>
        <a routerLink="/farmers"
           class="btn btn-success">

          Open
        </a>

      </div>

    </div>

    <div class="col-md-4 mb-3">

      <div class="card p-4">

        <h4>
          Crops
        </h4>

        <p>
          Manage crop details
        </p>

      </div>

    </div>

    <div class="col-md-4 mb-3">

      <div class="card p-4">

        <h4>
          Reports
        </h4>

        <p>
          View analytics reports
        </p>

      </div>

    </div>

  </div>

</div>

<!--9876543210 / 123456-->
